/venv/
/.idea/.gitignore
/.idea/ExamFinal.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/CAHD.iml
/.idea/final_exam.iml
/.idea/inspectionProfiles/Project_Default.xml
